In [1]:
# importing libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# displaying all rows and columns:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

#for ignoring warnings:
import warnings
warnings.filterwarnings("ignore")

In [2]:
# importing ipl dataset:
df=pd.read_csv(r"C:\Users\Vishal\Web Deployment\IPL Score Prediction\data\exported_data\CleanData.csv",index_col=0,header=0)
print(df.shape)
df.head(10)

(40108, 10)

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222
37,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.6,58,1,222
38,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,62,1,6.1,55,1,222
39,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,63,1,6.2,52,1,222
40,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,64,1,6.3,47,1,222
41,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,66,1,6.4,45,1,222

In [3]:
col=['venue','bat_team','bowl_team']

In [4]:
# For preprocessing the data 
from sklearn import preprocessing 
le=preprocessing.LabelEncoder()

for i in col:
    df[i]=le.fit_transform(df[i])
    
    le_name_mapping=dict(zip(le.classes_, le.transform(le.classes_)))
    print('Feature',i)
    print('le_name_mapping',le_name_mapping)
    print()

Feature venue
le_name_mapping {'Barabati Stadium': 0, 'Brabourne Stadium': 1, 'Buffalo Park': 2, 'De Beers Diamond Oval': 3, 'Dr DY Patil Sports Academy': 4, 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 5, 'Dubai International Cricket Stadium': 6, 'Eden Gardens': 7, 'Feroz Shah Kotla': 8, 'Himachal Pradesh Cricket Association Stadium': 9, 'Holkar Cricket Stadium': 10, 'JSCA International Stadium Complex': 11, 'Kingsmead': 12, 'M Chinnaswamy Stadium': 13, 'MA Chidambaram Stadium, Chepauk': 14, 'Maharashtra Cricket Association Stadium': 15, 'New Wanderers Stadium': 16, 'Newlands': 17, 'OUTsurance Oval': 18, 'Punjab Cricket Association IS Bindra Stadium, Mohali': 19, 'Punjab Cricket Association Stadium, Mohali': 20, 'Rajiv Gandhi International Stadium, Uppal': 21, 'Sardar Patel Stadium, Motera': 22, 'Sawai Mansingh Stadium': 23, 'Shaheed Veer Narayan Singh International Stadium': 24, 'Sharjah Cricket Stadium': 25, 'Sheikh Zayed Stadium': 26, "St George's Park": 27, 'Subrata Roy Sahara Stadium': 28, 'SuperSport Park': 29, 'Wankhede Stadium': 30}

Feature bat_team
le_name_mapping {'Chennai Super Kings': 0, 'Delhi Daredevils': 1, 'Kings XI Punjab': 2, 'Kolkata Knight Riders': 3, 'Mumbai Indians': 4, 'Rajasthan Royals': 5, 'Royal Challengers Bangalore': 6, 'Sunrisers Hyderabad': 7}

Feature bowl_team
le_name_mapping {'Chennai Super Kings': 0, 'Delhi Daredevils': 1, 'Kings XI Punjab': 2, 'Kolkata Knight Riders': 3, 'Mumbai Indians': 4, 'Rajasthan Royals': 5, 'Royal Challengers Bangalore': 6, 'Sunrisers Hyderabad': 7}

In [5]:
print(df.shape)
df.head()

(40108, 10)

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,13,3,6,61,0,5.1,59,0,222
33,2008-04-18,13,3,6,61,1,5.2,59,1,222
34,2008-04-18,13,3,6,61,1,5.3,59,1,222
35,2008-04-18,13,3,6,61,1,5.4,59,1,222
36,2008-04-18,13,3,6,61,1,5.5,58,1,222

In [6]:
df.to_csv(r'C:\Users\VISHAL\Web Deployment\IPL Score Prediction\data\exported_data\EncodedData.csv',index=True,header=True)